html, body {
  min-height: 100%;
  min-width: 100%;
}

/* container 1 start */

.one {
  text-align: center;
  color: white;
  max-height: 100%;
  text-transform: capitalize;
}

.menu {
  float: left;
  height: 30px;
  width: 30px;
  margin: 15px;
  background: black;
  position: relative;
  z-index: 110;
}

.button-menu {
  height: 775px;
  width: 1440px;
  background: #F15A29;
  opacity: 0.8;
  position: relative;
  z-index: 100;
}

.cake ol {
  font-size: 50px;
  float: left;
  margin-top: 70px;
  color: black;
  text-align: left;
}

.cake a {
  text-decoration: none;
}

.cake {
  background-image: url('assets/backgrounds/landing.jpg');
  background-size: cover;
  text-align: center;
  color: white;
  height: 600px;
}

.one img {
  position: relative;
  margin-top: 5%;
}

.left {
  height: 88px;
  padding: 10%;
}

.right {
  height: 176px;
  padding: 6%;
}

.breakfast {
  background: url('assets/foodtop/breakfast.jpg');
}

.lunch {
  background: url('assets/foodtop/lunch.jpg');
}

.dinner {
  background:url('assets/foodtop/dinner.jpg');
}

.right:hover {
  opacity: 0.5;
}

/* container 1 end */

/* container 2 start */

.fast-food {
  height: 200px;
  width: 100%;
}

.box-around-fast-food {
  border: 1px solid grey;
  padding: 2px;
  text-align: center;
}

/* container 2 end */

/* container 3 start */

.three {
  height: 550px;
  background: url('assets/backgrounds/foodsBg.jpg');
  background-size: cover;
  z-index: 10;
}

.w3-navbar{
  position: relative;
  margin-top: 110px;
  text-align: center;
  transform: translateX(-2%);
  z-index: 20;
}

.w3-navbar li{
  background: white;
  list-style: none;
  display: inline;
  padding: 10px;
  border-radius: 10%;
}

.tab-contents {
  text-align: center;
  color: white;
}

#London img {
  margin: 20px;
}

.fast-tab-item {
  display: inline-block;
  position: relative;
  z-index: 20;
}

.white-background {
  width: 1119px;
  height: 497px;
  background: white;
  opacity: 0.5;
  position: absolute;
  left: 160px;;
  top: 1730px;
}

.drinkk {
  width: 240px;
  height: 200px;
  margin: 20px;
}

/* container 3 end */

/* container 4 start */

.four {
  height: 400px;
}

.customers {
  border: 1px solid black;
  margin: 30px 10px;
  text-align: center;
  box-shadow: 0px 0px 2px 5px #888888;
  padding: 20px;
  margin-top: 120px;
}

.left-customer {
  border-right: 1px solid grey;
}

.enlarge {
  width: 70px;
  height: 70px;
}

/* container 4 end */

/* container 5 start */

.five {
  height: 300px;
  background: url('assets/backgrounds/subscribe.jpg');
  width: 100%;
  margin-top: 100px;
  text-align: center;
  color: white;
  padding: 85px;
}

.five input {
  background: rgba(255,255,255,0.4);
  border: none;
  height: 30px;
}

.five button {
  background: orange;
  border: none;
  height: 30px;
  position: relative;
  top: -1px;
}

/* container 5 end */

/* container 6 start */

.six {
  background: orange;
  height: 300px;
  width: 100%;
  text-align: center;
}

.six img {
  margin-top: 25px;
  width: 50px;
  height: 50px;
}
